body{
    text-align: center;
    align-content: center;
    background-color: cornflowerblue;
}

.container{
    border: solid 1px lightgrey;
    border-radius: 15px;
    margin: 35% auto;
    width: 50%;
    background-color: white;
}

.btn-default{
    background-color: white;
    height: 50px;
    width: 70px;
    font-size: 20px;
    margin: 1%;
    border-radius: 5px;
    color: grey;

}

#leftInput{
    height: 50px;
    width: 125px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 20px;
    margin: 1% 0 1% 0;
    border-radius: 10px;
}

#midInput{
    height: 50px;
    width: 40px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 20px;
    margin: 1% 0 1% 0;
    border-radius: 10px;
}

#rightInput{
    height: 50px;
    width: 125px;
    text-align: center;
    background-color: dimgray;
    color: white;
    font-size: 20px;
    margin: 1% 0 1% 0;
    border-radius: 10px;
}